* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #e5e5e5;
    padding: 20px;
    background-image: url('../images/sky2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: #ffffff; /* White headings */
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

button {
    background-color: #000000;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 5%;
    padding: 4px 10px;
}

.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#btn-siwg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    background-color: #fff;
    color: #1a1a1a;
    border: 0.5px solid #9d9d9d;
    /* -webkit-box-shadow: 0px 7px 10px -3px rgba(253,54,110,0.62); 
    box-shadow: 0px 4px 10px -5px rgba(253,54,110,0.62); */
  
  }
  
  #btn-siwg img{
    height: 30px;
  
    object-fit: contain;
  }

