/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #e5e5e5;
    padding: 20px;
    background-image: url('../images/sky2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Typography */
h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

/* Buttons */
button {
    background-color: #000000;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 5%;
    padding: 4px 10px;
}

#btn-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    background-color: #000000;
    color: #ffffff;
    border: 0.5px solid #9d9d9d;
}

#btn-login img {
    height: 30px;
    object-fit: contain;
}

/* Login */
.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

