.room {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
    background-image: url('../images/sky2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.left-menu {
    grid-row: 1;
    grid-column: 1 / -1;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
}

.right-menu {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(122, 169, 214);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    z-index: 1000;
    font-weight: bold;
}

.chat-settings-btn {
    margin-left: auto;
}

.right-panel {
    grid-row: 2;
    grid-column: 2;
    width: 350px;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.left-panel {
    grid-row: 2;
    grid-column: 1;
    perspective: 1200px;
    perspective-origin: center center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}